---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Content, frontmatter } from "../content/about.md";
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
	<p class="terminal-command">$ cat ./about</p>
	<div class="prose">
		<Content />
	</div>
</BaseLayout>
